%div(class='span-6 colborder prepend-1')= word.name
%div(class='span-6 colborder')= word.name_fr
%div(class='span-6 colborder')= word.name_ja
%div(class='span-2 last')= button_to('Delete', word_path(word), :method => :delete)
%hr
  